**.DS_Store
*/*/development.rb
*/*/test.rb
*/credentials.yml.enc
*/master.key
.dockerignore
.erb-lint.yml
.git
.github
.gitignore
.rspec
.rubocop.yml
.ruby-version
Dockerfile
README.md
coverage
db/*.sqlite3
docker-compose.yml
log/*
node_modules
public/packs
public/packs-test
spec
tmp
