<% if resource.errors.any? %>
  <%# I18n.t("errors.messages.not_saved",
              count: resource.errors.count,
              resource: resource.class.model_name.human.downcase)
    %>
  <div class="notification is-danger">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><strong><%= message %></strong></li>
      <% end %>
    </ul>
  </div>
<% end %>
