<section class="section">
  <div class="container">
    <div class="content is-medium">
      <h1 class="title">About</h1>
      <hr>
      <h2 class="subtitle"><b>Why was this created?</b></h2>
      <p>
        There are two main reasons. The first is that I wanted to solve a problem I was having. The second is that I wanted a new project to work on to show of my abilities.
      </p>
      <br>
      <p>
        I keep track of my finances by logging ending balances once a month for each of my accounts. I wanted a way to do this while also getting a visualization of where my net worth was going. 
        I also wanted visualizations of my expenses month to month. This application is the solution to this problem I was having.
      </p>
      <br>
      <p>
        There are plenty of other application that do this, but most require you to link a bank account. Not only is that risky, but these companies will also sell your information.
        Being the privacy-conscious person that I am, I have never felt comfortable with that. So I made my own solution. I think it is worth the effort to spend 5 minutes at the end of
        each month to log my ending balances manually to protect my privacy.
      </p>
    </div>
  </div>
</section>