<section class="section">
  <div class="container">
    <h1 class="title">Hello, <span class="is-capitalized"><%= @user.name %></span></h1>
    <h2 class="subtitle">Here's an overview of your finances</h2>
  </div>
</section>