<section class="hero is-light is-fullheight is-bold">
  <%= render partial: 'layouts/notifications' %>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Take control of your money.
      </h1>
      <h2 class="subtitle">
        Net worth. Expense trackers. Budgets.
      </h2>
    </div>
  </div>
</section>