<%= render partial: 'layouts/notifications' %>

<section class="section is-medium">
  <div class="container">
    <h1 class="title">Personal Finance</h1>
    <h2 class="subtitle">Keep track of your financial life.</h2>
  </div>
</section>

<section class="section is-medium has-background-black">
  <div class="container">
    <h1 class="title has-text-white">Track your net worth</h1>
    <div class="columns">
      <div class="column is-half">
        <h2 class="subtitle has-text-white">Add accounts. Add an ending balance once a month. See net worth over time.</h2>
      </div>
      <div class="column is-half">
        <%= area_chart Statement.group_by_month(:date).sum(:balance), colors: ["rgba(72, 199, 116, 0.65)"], prefix: "$", thousands: ",", spanGaps: true %>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <h1 class="title">Visualize your expenses.</h1>
    <div class="columns">
      <div class="column is-half">
        <h2 class="subtitle">Track expenses based on category. See where your money goes each month.</h2>
      </div>
      <div class="column is-half">
        <%= pie_chart User.find(1).expenses.group(:category).sum(:amount), prefix: "$", thousands: ",", messages: {empty: "No expenses recorded."} %>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>Nelson Figueroa | 2020</p>
  </div>
</footer>