<section class="section">
  <div class="container">

    <%= render partial: 'layouts/notifications' %>

    <h1 class="title">Expense Trackers</h1>
    <%= link_to 'Create Tracker', new_expense_tracker_path, class: 'button is-link' %>
    <br><br>

    <% if @expense_trackers.empty? %>
      <h2 class="notification is-info">You have no trackers. Create one!</h2>
    <% else %>
      <div class="columns is-multiline">
      <% @expense_trackers.each do |tracker| %>
        <div class="column is-one-third">
          <div class="tile">
            <article class="tile is-child notification is-primary has-text-black">
              <p class="title"><%= link_to tracker.category, tracker %></p>
              <p class="subtitle">Total Expenses: <%= number_to_currency(tracker.expenses.where(date: Date.current.beginning_of_month..Date.current.end_of_month).sum(:amount)) %></p>
            </article>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</section>