html {
    font-family: Menlo, Consolas, Monaco, Lucida Console, monospace;
    background-color: #040f1b;
    color: rgb(212, 212, 212);
    padding-left: 20%;
    padding-right: 20%;
}

a {
    color: rgb(43, 149, 255);
    transition: 0.2s;
}

a:hover {
    color: white;
    transition: 0.2s;
}

nav {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px dashed rgb(212, 212, 212);;
}