html {
    font-family: Menlo, Consolas, Monaco, Lucida Console, monospace;
    background-color: black;
    color: rgb(212, 212, 212);
}

a {
    color: rgb(43, 149, 255);
    transition: 0.2s;
}

a:hover {
    color: white;
    transition: 0.2s;
}

nav {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px dashed rgb(212, 212, 212);;
}


/* This applies from 600px onwards */
@media (min-width: 600px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}